/target/
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/
/test-output/
/reports/
# Other files and folders
/bin/
.settings/

/test-output/
/extent-test-output/
*.classpath
*.project

# Executables
*.swf
*.air
*.ipa
*.apk
*.factorypath

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

