<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3">
	<listeners>
		<listener class-name="orangeHRM.listeners.ListenerClass" />
		<listener class-name="orangeHRM.listeners.MethodInterceptor" />
	</listeners>

	<test thread-count="1" name="Test" parallel="methods">
		<classes>
			<!-- <class name="orangeHRM.testcases.HomePageTest"/>-->
			<class name="orangeHRM.testcases.LoginPageTest" />
		</classes>

	</test> <!--
	Test -->

</suite> <!--
Suite -->
